& {
    font-family: 'Kaushan Script', cursive;
    background-color: rgba($noir, .5);

    @media screen and (max-width: 430px) {
        & {
            background-color: rgba($noir, 0)
        }
    }

    .bar {
        background-color: $rose;
        color: #FFF;

        & li button {
            color: #FFF;
            font-family: 'Kaushan Script', cursive;
        }

        & a {
            color: #FFF;
        }
    }

    .menu {
        background-color: $vert;
        
        li a {
            color: $noir;
        }
    }
}