#horraireMap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 90vh;
    border: 1px solid black;

    @media screen AND (max-width: 840px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 5vh;
        padding: 3vh 1vw;

        .localisation a {
            margin-bottom: 3vh;
        }
    }

    h3 {
        display: none;
    }

    .horraire {
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            display: none;
        }

        table {
            border-collapse: separate;
            border-spacing: 5vw 0;

            th, td {
                font-size: 2rem;
                padding: 1vh 0;
            }
    
            th {
                text-align: left;
            }
    
            td {
                text-align: right;
            }
        }
    }

    .localisation {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        h4 {
            display: none;
        }

        a {
            font-size: 2rem;
            text-decoration: none;
        }

        iframe {
            height: 60vh;
            width: 60vh;
            border-radius: 50px;

            @media screen AND (max-width: 470px) {
                height: 90vw;
                width: 90vw;
            }
        }
    }
}