nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1;

    & + * {
        margin-top: 10vh;
    }

    .bar {
        display: grid;
        grid-template-columns: min-content auto min-content min-content;
        grid-template-rows: 100%;
        column-gap: 3vw;
        background: white;
        height: 10vh;
        border: 1px solid black;

        h4 {
            display: none;
        }

        .menuBurger {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            border-right: 1px solid grey;
            cursor: pointer;

            &>* {
                font-size: 5vh;
                margin: 0 calc((10vh - 5vh) / 2);
            }
        }

        .horraire {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;

            img {
                height: 70%;
                width: auto;
                margin-right: 1vw;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .lien {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;

            li {
                border-width: 0 1px;
                border-style: solid;
                border-color: black;

                &:first-child {
                    border-width: 0 1px 0 2px;
                }

                &:last-child {
                    border-width: 0 2px 0 1px;
                }

                &>* {
                    display: flex;
                    align-items: center;
                    height: 10vh;
                    padding: 0 1.5vw;
                    border: none;
                    font-size: 1.5rem;
                    background: none;
                    color: black;
                    text-decoration: none;
                }
            }
        }

        .reseaux {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            grid-column: 4 / span 1;
            grid-row: 1 / span 1;
            margin-right: 3vw;

            img {
                height: 5vh;
                width: auto;
                margin: 0 1vw;
            }
        }
    }

    .menu {
        //display: inline-block;
        display: none;
        background: white;
        height: calc(100vh - 10vh);
        border-right: 1px solid black;

        h4 {
            display: none;
        }

        ul li {
            border-width: 1px 0;
            border-color: black;
            border-style: solid;

            a {
                display: inline-block;
                width: 100%;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                padding: 3vh 3vw;
            }

            &:first-child {
                border-top-width: 0;
            }

            &:last-child {
                border-bottom-width: 2px;
            }
        }
    }
}