nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;

    & + * {
        margin-top: 10vh;
    }

    .bar {
        display: grid;
        grid-template-columns: min-content auto min-content min-content;
        grid-template-rows: 100%;
        column-gap: 3vw;
        height: 10vh;
        width: 100%;

        @media screen and (max-width: 398px) {
            & {
                grid-template-columns: min-content min-content min-content;
                column-gap: 1vw;

                .menuBurger i {
                    font-size: 3vh;
                    margin: 0 calc((10vh - 3vh) / 2);
                }
            }
        }

        @media screen and (max-width: 344px) {
            & {
                grid-template-columns: min-content min-content;

                .lien {
                    justify-self: end;

                    li:last-child {
                        border-right-width: 0 !important;
                    }
                }

                .reseaux {
                    display: none !important;
                }
            }
        }

        h4 {
            display: none;
        }

        .menuBurger {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            cursor: pointer;

            &>* {
                font-size: 5vh;
                margin: 0 calc((10vh - 5vh) / 2);
            }
        }

        .horraire {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;

            @media screen and (max-width: 590px) {
                & {
                    display: none;
                }
            }

            img {
                height: 70%;
                width: auto;
                margin-right: 1vw;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .lien {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;

            li {
                &>* {
                    display: flex;
                    align-items: center;
                    height: 10vh;
                    padding: 0 1.5vw;
                    border: none;
                    font-size: 1.5rem;
                    background: none;
                    text-decoration: none;
                }
            }
        }

        .reseaux {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            grid-column: 4 / span 1;
            grid-row: 1 / span 1;
            margin-right: 3vw;

            img {
                height: 5vh;
                width: auto;
                margin: 0 1vw;
            }
        }
    }

    .close {
        width: 0vw !important;
        height: 0vh !important;
        overflow: hidden;
    }

    .menu {
        display: inline-block;
        //display: none;
        height: calc(100vh - 10vh);
        width: max-content;
        justify-self: left;

        @media screen and (max-width: 430px) {
            & {
                width: 100%;
            }
        }

        h4 {
            display: none;
        }

        ul li {
            a {
                display: inline-block;
                width: 100%;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                padding: 3vh 3vw;
            }
        }
    }

    @import '_couleur_navbar';
}