& {
    nav ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        height: 100vh;

        @media screen AND (max-width: 760px) {
            grid-template-rows: none;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-auto-flow: row;
        }

        a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 1.8rem;
            border: 1px solid green;
        }
    }
}