#commentaire {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    row-gap: 3vh;
    min-height: 90vh;
    padding: 5vh 0;

    h3 {
        display: none;
    }

    .commentaires {
        width: 70%;
        justify-self: center;
        align-self: center;

        h4 {
            display: none;
        }

        ul {
            display: grid;
            grid-auto-columns: 100%;
            grid-auto-rows: min-content;
            row-gap: 5vh;

            li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 1.5vh 1.5vw;

                @media screen and (max-width: 490px) {
                    & {
                        position: relative;
                        flex-flow: column nowrap;
                        overflow: hidden;

                        img {
                            position: absolute;
                            top: -50%;
                            height: 200% !important;
                            opacity: 0.5;
                        }

                        p {
                            margin-left: 0 !important;
                            z-index: 0;
                        }
                    }
                }
                
                img {
                    height: 10vh;
                    width: auto;
                }

                p {
                    display: flex;
                    align-items: center;
                    min-height: 10vh;
                    width: 100%;
                    font-size: 1.5rem;
                    margin-left: 5vw;
                    word-break: break-all;
                }
            }
        }
    }

    .formulaire {
        justify-self: center;
        align-self: center;
        width: 70%;

        h4 {
            display: none;
        }

        form {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            input[name=com] {
                width: 100%;
                font-size: 1.5rem;
                padding: 2vh 2vw;
                margin-bottom: 2vh;
            }

            input[type=submit] {
                padding: 1vh 2vw;
                min-width: 40%;
                font-size: 1.5rem;
            }
        }
    }

    @import "_couleur_avie";
}