#message button {
    background: none;
    border: none;
}

.true {
    background: $vert;
    
    span, button {
        color: scale-color($vert, $lightness: -50%);
    }
}

.false {
    background: scale-color($rose, $lightness: -10%);
    
    span, button {
        color: scale-color($rose, $lightness: -40%);
    }
}