footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding: 2vh 2vw;

    .reseaux {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        min-width: 50vh;
        max-width: 100vw;
        margin-bottom: 1vh;

        li a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 9.5vh;

            img {
                height: 5vh;
                width: auto;
                margin: 1vh 1vw;
                transition: height .5s;

                &:hover {
                    height: 7.5vh;
                }
            }
        }

        @media screen AND (max-width: 840px) {
            margin-bottom: 2vh !important;

            li a {
                display: inline;

                img {
                    margin: 2vh 2vw !important;
                }
            }
        }
    }

    p {
        font-size: 1.5rem;

        @media screen AND (max-width: 560px) {
            & {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                
                span:nth-child(1) {
                    margin-bottom: 1vh;
                }
            }

            & + a {
                font-size: 1.2rem;
                margin-top: 2vh;
            }
        }
    }

    & + a {
        font-size: 1rem;
    }

    @media screen AND (max-width: 560px) {
        #pc {
            display: none;
        }
    }

    @media screen AND (min-width: 560px) {
        #tel {
            display: none;
        }
    }

    @import '_couleur_footer';
}