#sectionformlogo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    border: 1px solid black;

    h2 {
        display: none;
    }

    img {
        height: 30vh;
        width: auto;
    }

    form {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr;
        align-items: stretch;
        justify-items: stretch;
        width: 70%;

        @media screen AND (max-width: 550px){
            & {
                width: 90% !important;
            }
        }

        @media screen AND (max-width: 375px) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, min-content);
            row-gap: 1pc;

            input[type=submit] {
                width: 50% !important;
                justify-self: center !important;
            }
        }

        input {
            font-size: 1.5rem;
            padding: .5pc 0;
            border: 1px solid black;

            &[name=logo] {
                height: 100%;
            }

            &[type=submit] {
                padding: .5pc;
            }
        }
    }
}