#horraire_et_localisation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 90vh;

    @media screen AND (max-width: 840px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        section {
            padding: 5vh 1vh;
        }

        .localisation a {
            margin-bottom: 3vh;
        }
    }

    h3 {
        display: none;
    }

    .horraire {
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            display: none;
        }

        table {
            width: 90%;

            tbody {
                width: 100%;
            }

            th, td {
                font-size: 3rem;
                letter-spacing: .25ex;
                padding: 1ex 0;

                &:last-child {
                    padding-top: 0px;
                }
            }
    
            th {
                text-align: left;
            }
    
            td {
                text-align: right;
            }
        }
    }

    .localisation {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        h4 {
            display: none;
        }

        a {
            font-size: 2.5rem;
            line-height: 4ex;
            letter-spacing: .3ex;
            text-decoration: none;
        }

        iframe {
            height: 60vh;
            width: 60vh;

            @media screen AND (max-width: 470px) {
                height: 90vw;
                width: 90vw;
            }
        }
    }

    @import "_couleur_horraireLocal";
}