@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Ubuntu:500&display=swap');
@import '_reset', '_couleur', '_message', '_footer', '_navadmin';

@mixin section ($color: false) {
    background-color: #fff;
    
    @if $color {
        box-shadow: inset 0px -10px 10px -10px rgba($color, .5), inset 0px 10px 10px -10px rgba($color, .5)
    } @else {
        box-shadow: inset 0px -10px 10px -10px rgba($gris, .5), inset 0px 10px 10px -10px rgba($gris, .5);
    }
}

@mixin nav ($color: false) {
    border: none;

    .bar {
        .menuBurger i {
            @if $color {
                color: $color;
            } @else {
                color: $gris;
            }
            padding: 1vh;
            border-radius: 10px;
            transition: .5s;

            &:hover {
                background-color: #fff;
                @if $color {
                    border: 3px solid $color;
                } @else {
                    border: 3px solid $gris;
                }
                box-shadow: 3px 3px 6px 0px $gris;
            }
        }
    }

    .menu {
        @if $color {
            background-color: rgba($color, .5);
        } @else {
            background-color: rgba($gris, .5);
        }

        a {
            text-decoration: none;
            color: $noir;
            letter-spacing: .1pc;
            text-transform: capitalize;
            transition: .5s;

            &:hover {
                letter-spacing: 1rem;
            }
        }
    }
}

%input {
        background: #fff;
        border-radius: 10px;
        border: 2px solid !important;
        color: $noir;
        letter-spacing: .1pc;
        font-family: 'Ubuntu', sans-serif;
        transition: .5s;

        @media screen AND (max-width: 550px){
            letter-spacing: 0pc;
        }

        &:focus {
            box-shadow: inset 0 0 4px 1px $gris;
        }

        &[type=submit] {
            background: $bleu;
            border-color: scale-color($bleu, $lightness: -10%) !important;
            border-radius: calc(1.7rem + .5pc);
            color: #fff;
            font-weight: bold;
            letter-spacing: .1pc;

            &:hover {
                letter-spacing: .5rem;
                box-shadow: 3px 3px 6px 0px scale-color($gris, $lightness: -20%);
            }
        }

        &[type=button] {
            background: scale-color($rose, $lightness: -20%);
            border-color: scale-color($rose, $lightness: -30%) !important;
            border-radius: calc(1.7rem + .5pc);
            color: #fff;
            font-weight: bold;
            letter-spacing: .1pc;

            &:hover {
                letter-spacing: .5rem;
                box-shadow: 3px 3px 6px 0px scale-color($gris, $lightness: -20%);
            }
        }
}

%formmod {
    background-color: #fff;
    border-radius: 30px;
    border: 5px solid $gris !important;
    box-shadow: inset -5px -5px 11px 1px rgba($gris, .5);

    #fermer {
        background-color: transparent;
        border: none;
        border-radius: 10px;
        color: scale-color($rose, $lightness: -40%);

        &:hover {
            border: 2px solid scale-color($rose, $lightness: -40%);
            box-shadow: 3px 3px 6px 0px $gris;
            transition: .5s;
        }

        &:active {
            box-shadow: none;
            transition: 0s;
        }
    }
}

html, button {
    font-family: 'Ubuntu', sans-serif;
    color: $noir;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000007c;
    z-index: 1;
}

#index {
    @import '_header', '_description', '_avie', '_service', '_horraireLocal.scss';
}

#menu {
    @import '_menu';
}

#index, #menu {
    @import '_navbar';
}

#connexion, #modmdp {
    @import '_connexion';
}

#admin {
    @import '_admin';
}

#gestionEntreprise {
    @import '_formLogo', '_formTitre', '_formPhrase', '_formVideo', '_formTel', '_formAdresse', '_sectionReseau', '_sectionProfil', '_couleur_gestionEntreprise';
}

#gestionPerso {
    @import '_gestionPerso';
}

#gestiondescription {
    @import '_gestionDescription';
}

#gestionavie {
    @import '_gestionAvie';
}

#gestionservice {
    @import '_gestionService';
}

#menugestion {
    @import '_menuGestion', '_formMenuMod';
}

#menugestionproduit {
    @import '_menuGestionProduit', '_formProduitMod';
}

#horraire {
    @import '_horraire';
}