@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Ubuntu:500&display=swap');
@import '_reset', '_couleur', '_message', '_footer', '_navadmin';

html {
    font-family: 'Ubuntu', sans-serif;
    color: $noir;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000007c;
    z-index: 1;
}

#index {
    @import '_header', '_description', '_avie', '_service', '_horraireLocal.scss';
}

#menu {
    @import '_menu';
}

#index, #menu {
    @import '_navbar';
}

#connexion, #modmdp {
    @import '_connexion';
}

#admin {
    @import '_admin';
}

#gestionEntreprise {
    section {
        background: white;
    }
    
    @import '_formLogo', '_formTitre', '_formPhrase', '_formVideo', '_formTel', '_formAdresse', '_sectionReseau', '_sectionProfil';
}

#gestionPerso {
    @import '_gestionPerso';
}

#gestiondescription {
    @import '_gestionDescription';
}

#gestionavie {
    @import '_gestionAvie';
}

#gestioservice {
    @import '_gestioService';
}

#menugestion {
    @import '_menuGestion', '_formMenuMod';
}

#menugestionproduit {
    @import '_menuGestionProduit';
}