@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Ubuntu:500&display=swap');
@import '_reset', '_couleur', '_message', '_footer', '_navadmin';

html {
    font-family: 'Ubuntu', sans-serif;
    color: $noir;
}

#index {
    @import '_header', '_description', '_avie', '_service', '_horraireLocal.scss';
}

#menu {
    @import '_menu';
}

#index, #menu {
    @import '_navbar';
}

#connexion, #modmdp {
    @import '_connexion';
}

#admin {
    @import '_admin';
}

#gestionEntreprise {
    background: gray;
}